footer
	.container
		aside.social-footer
			a(href="")
				i.fab.fa-facebook-f
			a(href="")
				i.fab.fa-twitter
			a(href="")
				i.fab.fa-instagram
		a(href="aviso-de-privacidad.html") POLÍTICA DE PRIVACIDAD 2019