section.grid.animated
	.container.flex
		ul.list-grid
			li
				.caption-item
					p Camping para los perrhijos en compañía de sus familias. Presencia de medios e influencers.
					.leyend-back
						i.fas.fa-angle-left 

				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image.png")
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
			li
				.caption-item
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image3.png")
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
			li
				.caption-item
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image4.png")
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
			li
				.caption-item
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image5.png")
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
		ul.list-grid
			li
				.caption-item
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image2.png")
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
			li
				.caption-item
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/images6.png")
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
			li
				.caption-item
					p Camping para los perrhijos en compañía de sus familias. Presencia de medios e influencers.
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image7.png")
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
			li
				.caption-item
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image8.png")
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
			li.credencial
				a(href="")
					.item-title SÍGUENOS #[br]
						strong / @backyard
					aside.social.flex
						i.fab.fa-facebook-f
						i.fab.fa-twitter
						i.fab.fa-instagram



