section.grid
	.container.flex.active-grid.content-tab
		ul.list-grid.animate-grids2
			li
				.caption-item
					p Camping para los perrhijos en compañía de sus familias. Presencia de medios e influencers.
					.leyend
						i.fas.fa-angle-right
							p Continuar 
								strong leyendo

				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image.png")
					
			li
				.caption-item
					p Camping para los perrhijos en compañía de sus familias. Presencia de medios e influencers.
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
					
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image3.png")
					
			li
				.caption-item
					p Camping para los perrhijos en compañía de sus familias. Presencia de medios e influencers.
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image4.png")
					
			li
				.caption-item
					p Camping para los perrhijos en compañía de sus familias. Presencia de medios e influencers.
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image5.png")
					
		ul.list-grid.animate-grids
			li
				.caption-item
					p Camping para los perrhijos en compañía de sus familias. Presencia de medios e influencers.
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image2.png")
					
			li
				.caption-item
					p Camping para los perrhijos en compañía de sus familias. Presencia de medios e influencers.
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/images6.png")
					
			li
				.caption-item
					p Camping para los perrhijos en compañía de sus familias. Presencia de medios e influencers.
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
					
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image7.png")
					
			li
				.caption-item
					p Camping para los perrhijos en compañía de sus familias. Presencia de medios e influencers.
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image8.png")
					
			li.credencial
				.item-title SÍGUENOS #[br]
					strong / @backyard
				aside.social.flex
					a(href="")
						i.fab.fa-facebook-f
					a(href="")
						i.fab.fa-twitter
					a(href="")
						i.fab.fa-instagram

