section.grid
	.container.flex
		ul
			li
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image.png")
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
			li
				a(href="")
					img(src="images/image2.png")
			li
				a(href="")
					img(src="images/image.png")
			li
				a(href="")
					img(src="images/image2.png")
		ul
			li
				a(href="")
					img(src="images/image2.png")
			li
				a(href="")
			li
				a(href="")
			li
				a(href="")
