section.grid
	.container.flex
		ul
			li
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image.png")
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
			li
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image3.png")
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
			li
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image4.png")
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
			li
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image5.png")
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
		ul
			li
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image2.png")
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
			li
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/images6.png")
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
			li
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image7.png")
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
			li
				.filter
				a(href="")
					.item-title BLUE BUFFALO #[br]
						strong / Lanzamiento Blue Camp
					img(src="images/image8.png")
					.leyend
						i.fas.fa-angle-right 
						| Continuar 
						strong leyendo
			li.credencial
				a(href="")
					.item-title SÍGUENOS #[br]
						strong / @backyard
					aside.social.flex
						i.fab.fa-facebook-f
						i.fab.fa-twitter
						i.fab.fa-instagram



