header
    .container.flex
        nav.menu
            a.item-menu.close
                i.fa.fa-times
            a.item-menu.active(href="#") demo
            a /
            a.item-menu(href="#") demo
            a /
            a.item-menu(href="#") demo
        span.burger
            i.fa.fa-bars
        figure.logo
            img(src="images/logo.png")
.overlay
