header
    .container.flex
        nav.menu#navs
            a.close
                i.fa.fa-times
            figure.logo-movile
                img(src="images/logo-mobile.png")
            a.item-nav.active(href="index.html") Proyectos
            a.item-nav(href="nosotros.html") Nosotros
            a.item-nav(href="contacto.html") Contacto
            aside.social-mobile
                a(href="#")
                    i.fab.fa-facebook-f
                a(href="#")
                    i.fab.fa-twitter
                a(href="#")
                    i.fab.fa-instagram
        span.burger
            i.fa.fa-bars
        figure.logo
            img(src="images/logo.png")
.overlay
