header
    .container.flex
        nav.menu#navs
            a.close
                i.fa.fa-times
            a.item-nav.active(href="#") demo /
            a.item-nav(href="#") demo /
            a.item-nav(href="#") demo
        span.burger
            i.fa.fa-bars
        figure.logo
            img(src="images/logo.png")
.overlay
