section.title.content.active
	.container
		h2 We make it everywhere
		p 
			strong No conocemos fronteras ni límites #[br]
			|  Conquistamos cualquier persona en cualquier lugar en cualquier momento.
section.pulse
	.container.flex
		.circle
			.indicator.nt0
			.indicator.nt0.delay1
			.indicator.nt0.delay2
		.circle
			.indicator.nt1
			.indicator.nt1.delay1
			.indicator.nt1.delay2
		.circle
			.indicator.nt2
			.indicator.nt2.delay1
			.indicator.nt2.delay2
		.circle
			.indicator.nt3
			.indicator.nt3.delay1
			.indicator.nt3.delay2
		.circle
			.indicator.nt4
			.indicator.nt4.delay1
			.indicator.nt4delay2

	.container.flex
		.circle.animate.wave-circle
			.w1
			.w2
			.w3
			.w4
		.circle.animate.wave-circle
			.w1
			.w2
			.w3
			.w4
		.circle.animate.wave-circle
			.w1
			.w2
			.w3
			.w4
		.circle.animate.wave-circle
			.w1
			.w2
			.w3
			.w4
		.circle.animate.wave-circle
			.w1
			.w2
			.w3
			.w4