section.category.animated.fadeIn.delay-2s
	.container
		h2 Sin importar el viaje que quieras iniciar, nosotros te acompañamos.
		ul.flex#category
			li
				a.cat.active(href="#") Eventos
			li
				a.cat(href="#") Construcciones
			li
				a.cat(href="#") Campañas tácticas
			li
				a.cat(href="#") Activaciones
			li
				a.cat(href="#") Tecnología
			li
				a.cat(href="#") Contenidos
	section.select
		p filtrar por:
		select
			option( value="eventos") eventos
			option(value="construcciones") Construcciones
			option(value="campanas") Campañas tácticas
			option(value="activaciones") Activaciones
			option(value="tecnologia") Tecnología
			option(valuer="contenido") Contenidos

	