section.category
	.container
		h2 Sin importar el viaje que quieras iniciar, nosotros te acompañamos.
		ul.flex
			li
				a(href="#") Eventos
			li
				a(href="#") Construcciones
			li
				a(href="#") Campañas tácticas
			li
				a(href="#") Activaciones
			li
				a(href="#") Tecnología
			li
				a(href="#") Contenidos
	