section.category.animated.fadeIn.delay-2s
	.container
		h2 Sin importar el viaje que quieras iniciar, nosotros te acompañamos.
		ul.flex#category
			li
				a.cat.active(href="#") Eventos
			li
				a.cat(href="#") Construcciones
			li
				a.cat(href="#") Campañas tácticas
			li
				a.cat(href="#") Activaciones
			li
				a.cat(href="#") Tecnología
			li
				a.cat(href="#") Contenidos

	section.select
		p filtrar por:
		a.toggle(href="#example") Eventos
			i.fa.fa-angle-down
		.toggle-content.show-slow#example
			ul.expand-cat
				li
					a(href="#" data-categoria="eventos") Eventos
				li
					a(href="#" data-categoria="Construcciones") Construcciones
				li
					a(href="#" data-categoria="Campañas tácticas") Campañas tácticas
				li
					a(href="#" data-categoria="Activaciones") Activaciones
				li
					a(href="#" data-categoria="Tecnología") Tecnología
				li
					a(href="#" data-categoria="Contenidos") Contenidos

