section.category
	.container
		h2 Sin importar el viaje que quieras iniciar, nosotros te acompañamos.
		ul.flex#category
			li
				a.cat.active(href="#") Eventos
			li
				a.cat(href="#") Construcciones
			li
				a.cat(href="#") Campañas tácticas
			li
				a.cat(href="#") Activaciones
			li
				a.cat(href="#") Tecnología
			li
				a.cat(href="#") Contenidos
	