section.grid{
	.container{
		justify-content: space-between;
		padding-top: 20px;
		ul{
			overflow: hidden;
			perspective: 12000px;
			-webkit-perspective: 12000px;
			width: 50%;
			list-style: none;
			margin-right: 2px;
			li{
				width: 100%;
				min-height: 272px;
				position: relative;
				transform-style: preserve-3d;
    			will-change: transform;
    			&:hover{
    				.caption-item{
    					left: 0;
    				}
    			}
				.caption-item{
					position: absolute;
					left: -100%;
				    width: 100%;
				    height: 100%;
				    color: #fff;
				    background: rgba(0, 0, 0, .3);
				    cursor: pointer;
				    transition: all 0.8s ease-out;
				    z-index: 3;
				    padding: 15px;
					&:before {
					    position: absolute;
					    top: 0;
					    left: 0;
					    right: 0;
					    bottom: 0;
						content: '';
					    box-shadow: inset 0 0 2000px rgba(0, 0, 0, .8);
					    filter: blur(10px);
					}
				    p{
				    	margin-top: 80px;
				    	color: white;
				    	font-size: 25px;
				    	font-family: 'Montserrat';
				    	font-weight: 400;
				    	filter: blur(0px);}
	
					}
				.leyend{
					width: 195px;
					padding: 10px 9px;
					font-family: 'Montserrat';
					position: absolute;
					background: #000;
					color: #fff;
					right: 0;
					bottom: 20px;
					font-size: 16px;
					text-align: right;
					i.fas.fa-angle-right{
						margin-right: 10px;
					}
					p{
						font-size: 16px;
						text-align: right;
						display: inline-block;
						margin-top: 0;
						font-family: 'Montserrat';
						font-weight: 400;

					}
				}

				.item-title{
					position: absolute;
					color: #FDFDFD;
					font-size: 20px;
					font-family: 'Montserrat';
    				font-weight: 400;
    				left: 40px;
    				top: 39px;
				}
				img{
					width: 100%;
				}
				&.credencial{
					height: 339px;
					background: #F7F7F7;
					a{
						text-decoration: none;
						.item-title{
							color: #707070;
						}
						aside.social{
							background: white;
							flex-direction: column;
							width: 46px;
							align-items:center;
							padding: 30px 5px;
							position: absolute;
							right: 15px;
							bottom:0;
							i{
								font-size: 20px;
								margin-bottom: 25px;
								color: #707070;
								&:last-child{
									margin-bottom: 0;
								}

							}
						}
						
					}

					
				}
			}
		}
	}
}
