section.nosotros{
	padding-top: 100px;
	.container{
		p{
			color: #3B3A3A;
			font-size: 24.4px;
			font-family: 'Montserrat';
			font-weight: 600;
			margin-bottom: 42px;
		}


	}
	.slider-nosotros{
		position: relative;
	}
	.container-owl-nav{
		padding: 80px 15px;
		.owl-carousel#sync2{
			.item{
				display: flex;
			    justify-content: space-between;
			    align-items: center;
			    figure{
					width: 320px;
					display: inline-block;
					img{
						width: 100%;
					}
				}
				.item-content{
					float: right;
					width: 50%;
					h2{
						font-size: 28.8px;
						font-family: 'Montserrat';
    					font-weight: 500;
    					margin-bottom: 20px;
    					color: #7A6B99;
    				}
    				p{
						font-size: 22px;
						font-family: 'Montserrat';
    					font-weight: 400;
					}


				}


			}

			.owl-dots{
				text-align: center;
				button{
					&:nth-child(2){
						&.active{
							background: #DC2771; 
						}
					}
					&:nth-child(3){
						&.active{
							background: #42B3C6;
						}
					}
					&:nth-child(4){
						&.active{
							background: #A9C454;
						}
					}
					&:nth-child(5){
						&.active{
							background: #030303;
						}
					}
					&.active{
						background: #7A6B99;
					}
				}

			}
		}
	}
	.owl-dots{
		text-align: right;
		margin-top: 80px;
		margin-right: 50px;
		button{
			background: #EBEBEB;
		    width: 10px;
		    height: 10px;
		    margin-right: 5px;
		    color: transparent;
		    &:focus{
				outline:0px;
			}
		    &.active{
		    	background: #CECECE;
		    }
		    
		}

	}
}



section.brand{
	.container{
		h2{
			font-family: 'Montserrat';
    		font-weight: 400;
    		font-size: 28px;
    		margin-bottom: 24px;
    		span{
    			color: #DC2771;
    			display: inline-block;
    		}
		}
		p{
			font-size: 20px;
			color: #3B3A3A;
			font-family: 'Montserrat';
    		font-weight: 400;
		}
		span{
			color: #070707;
			font-size: 28px;
			font-family: 'Montserrat';
    		font-weight: 400;
    		font-style: oblique;
    		margin-top: 37px;
    		display: block;

		}
	}
}

section.video{
	margin-bottom: 50px;
	.container{
		video{
			margin-top: 100px;
			width: 100%;
		}
	}
}

.slide-progress {
  width: 0;
  max-width: 100%;
  height: 4px;
  background: #7fc242;
  position: absolute;
  bottom: 0;
  left: 0;
}