section.title{
  .container{
    padding-top: 80px;
  }
  
  &.content{
    display: none;
    &.active{
      display: block;
    }
  }
  h2{
    text-align: center;
    font-size: 60px;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-bottom: 21px;
    
  }
  p{
    text-align: center;
    font-size: 20px;
    color: #707070;
    font-family: 'Montserrat';
    font-weight: 400;
  }
}
section.pulse{
  .container{
    justify-content: space-around;
    padding: 100px 0;
  }
}


.circle{
  position: relative;
  width: 30px;
  height: 30px;
}

.nt0{
  background-color: #000;
}

.nt1{
  background-color: #7A6B99;
}
.nt2{
  background-color: #42B4C6;
}
.nt3{
  background-color: #DC2871;
}
.nt4{
  background-color: #A9C554;
}



$count:infinite;
.indicator{
  width: 30px;
  height: 30px;
  top:0;
  left:0;
  border-radius:50%;
  position:absolute;

 
  &.active{
     -webkit-animation:example 1.5s linear infinite;   
    animation:example 1.5s linear infinite;

  }
 
}

.delay1{
    -webkit-animation-delay:.3s;
    animation-delay:.3s;  
}

.delay2{
    -webkit-animation-delay:.6s;
    animation-delay:.6s;  
}

@-webkit-keyframes example{
  0%{transform:scale(1,1);opacity:1;}
  25%{transform:scale(2,2);opacity:0.75;}
  50%{transform:scale(4,4);opacity:0.5;}
  75%{transform:scale(5,5);opacity:0.25}
  100%{transform:scale(6,6);opacity:0} 
}


@keyframes example{
  0%{transform:scale(1,1);opacity:1;}
  25%{transform:scale(2,2);opacity:0.75;}
  50%{transform:scale(4,4);opacity:0.5;}
  75%{transform:scale(5,5);opacity:0.25}
  100%{transform:scale(6,6);opacity:0} 
}



