section.privacidad{
	padding-top: 100px;
		h2{
			font-size: 22px;
			font-family: 'Montserrat';
			font-weight: 600;
			margin-bottom: 50px;
		}
		p{
			font-size: 16px;
			color: rgba(59, 58, 58, 1);
			font-family: 'Montserrat';
			font-weight: 600;
			margin-bottom: 20px;
		}
}
