section.privacidad{
	padding-top: 100px;
		h2{
			font-size: 22px;
			font-family: 'Montserrat';
			font-weight: 600;
			margin-bottom: 50px;
		}
		p{
			font-size: 16px;
			color: #3B3A3A;
			font-family: 'Montserrat';
			font-weight: 600;
		}
}
