section.category{
	margin-bottom: 80px;
	.container{
		h2{
			padding: 50px 0 76px;
			font-size: 30px;
			font-family: 'Montserrat';
			font-weight: 600;
		}
		ul#category{
			justify-content: space-around;
			flex-wrap: wrap;
			list-style: none;
			li{
				width: 30%;
				margin: 2px 0 12px;
				&:nth-child(2){
					a{
						&.active{
							color: #42B4C6;
						}

					}
					
				}
				&:nth-child(3){
					a{
						&.active{
							color: #7A6B99;
						}

					}
					
				}
				&:nth-child(4){
					a{
						&.active{
							color: #A9C554;
						}

					}
					
				}
				&:nth-child(5){
					a{
						&.active{
							color: #42B4C6;
						}

					}
					
				}
				&:nth-child(6){
					a{
						&.active{
							color: #DC2871;
						}

					}
					
				}
			}
			a{
				text-decoration: none;
				color: #484747;
				font-size: 23px;
				font-family: 'Montserrat';
				font-weight: 400;				
				&.active{
					color: #DC2872;
				}
			}
		}
	}
}