section.category{
	.container{
		padding-bottom: 40px;
		h2{
			padding: 50px 0 76px;
			font-size: 24px;
			font-family: 'Montserrat';
			font-weight: 600;
		}
		ul#category{
			justify-content: space-around;
			flex-wrap: wrap;
			list-style: none;
			li{
				width: 30%;
				margin: 2px 0 12px;
				&:nth-child(2){
					a{
						&.active{
							color: #42B4C6;
						}


					}
					
				}
				&:nth-child(3){
					a{
						&.active{
							color: #7A6B99;
						}

					}
					
				}
				&:nth-child(4){
					a{
						&.active{
							color: #A9C554;
						}

					}
					
				}
				&:nth-child(5){
					a{
						&.active{
							color: #42B4C6;
						}

					}
					
				}
				&:nth-child(6){
					a{
						&.active{
							color: #DC2871;
						}

					}
					
				}
			}
			a{
				text-decoration: none;
				color: #484747;
				font-size: 18px;
				font-family: 'Montserrat';
				font-weight: 400;
				transition: .3s ease-in-out opacity;
				&:hover{
					opacity: .7;
				}				
				&.active{
					color: #DC2872;
				}
			}
		}
	}
}

section.select{
	justify-content: center;
	flex-wrap: wrap;
	background: white;
	padding: 20px 5px;
	margin: auto;
	max-width: 1200px;
	display: none;

	p{
		font-family: 'Montserrat';
		color: #DC2872;
	}

	select{
		margin-left: 5px;
		border: none;
		background: transparent;
		font-family: 'Montserrat';
	}
	a{
		font-family: 'Montserrat';
		text-decoration: none;
		margin-left: 6px;
		color: #484747;
    	font-size: 18px;
		i{
			font-size: 18px;
			color: #000;
			margin-left: 5px;
			transition: all .2s ease;
			&.active{
				transform: rotate(180deg);
			}
		}
	}
	ul.expand-cat{
		padding: 20px 10px;
		li{
			margin-bottom: 15px;
		}

	}
}

.toggle-content {
	display: none;
	height: 0;
	opacity: 0;
	width: 100%;
	overflow: hidden;
	transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
	&.is-visible {
		display: block;
		height: auto;
		opacity: 1;
	}
}

.show-slow {
	transition: height 2000ms ease-in-out, opacity 2500ms ease-in-out;
}
