nav.menu{
	width: 100%;
	height: 50px;
	line-height: 50px;
	a{
		text-decoration: none;
		margin-right: 25px;
		font-family: 'Lato';
		color: #484747;
		font-size: 22px;
		font-weight: 400;
		font-style: oblique;
		position: relative;

		&.close{
			text-align: right;
			display: none;
			i.fa.fa-times{
				font-size: 30px;
				cursor: pointer;
			}
			&:hover{
				background:transparent;
				color:#303030;
			}
		}
		&.active{
			font-weight: 700;
			&:before{
				position: absolute;
				content: '/';
				left: -15px;
				color: #484747;
			}
			&:after{
				position: absolute;
				content: '/';
				right: -15px;
				color: #484747;
			}
		}
	}
	&.open{
		transform: translateX(0px);
	}

}


span.burger{
		float: right;
		padding: 0px 10px;
		cursor: pointer;
    	position: relative;
    		display: none;
			i.fa.fa-bars{
				font-size: 30px;
			}

	}

.overlay{
	width: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	height: 100%;
	opacity: 0;
	z-index: -1;
	transition: opacity 300ms linear;
	top: 0;
	&.open{
		z-index: 1;
		opacity: 1;
	}
}
