doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Contacto
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(href="css/all.min.css", rel="stylesheet", type="text/css")
		link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
		meta(name='description', content='descripcion del sitio web')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
		meta(property='og:title', content=' ')
		meta(property='og:site_name', content=' ')
		meta(property='og:url', content=' ')
		meta(property='og:description', content=' ')
		meta(property='og:image', content=' ')
	body 
		include block/header.pug
		section.contacto
			.container.flex
				.item-col
					.owl-carousel.theme-contacto
						.item
							img(src="images/empresa.png")
						.item
							img(src="images/empresa2.png")
						.item
							img(src="images/empresa3.png")

					img.absolute(src="images/logo-contact.png")
					figure
						.filter
							figure.logo-maps
								img(src="images/logo-ronder.png")
						iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.181960407467!2d-99.16621004942935!3d19.404542486836018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff1445ebc0cf%3A0x2f2468341ffac258!2spiso+1%2C+Tehuantepec+170%2C+Roma+Sur%2C+06760+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses-419!2smx!4v1559971326759!5m2!1ses-419!2smx', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')

				.item-col.flex
					.item-contac
						h2 Contáctanos
						p D. Tehuantepec #170, piso 1. #[br] Col. Roma Sur, CDMX.​
						a.phone(href="tel:+558435 5070") +1 (55) 8435 5070
						a.mail(href="mailto:hola@backyard.com.mx?Subject=Hello%20again") hola@backyard.com.mx
						aside.social.flex
							i.fab.fa-facebook-f
							i.fab.fa-twitter
							i.fab.fa-instagram
		include block/footer.pug
		input(type="hidden" value="contacto.html" id="location")
		script(src="js/jquery-1.11.3.min.js")
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js")
		script(src="//cdn.jsdelivr.net/npm/jquery.localscroll@2.0.0/jquery.localScroll.min.js")
		script(src='js/owl.carousel.min.js', type="text/javascript")
		script(src='js/main.js', type="text/javascript")
		
