doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Nosotros
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(href="css/all.min.css", rel="stylesheet", type="text/css")
		link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
		meta(name='description', content='descripcion del sitio web')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
		meta(property='og:title', content=' ')
		meta(property='og:site_name', content=' ')
		meta(property='og:url', content=' ')
		meta(property='og:description', content=' ')
		meta(property='og:image', content=' ')
	body 
		include block/header.pug
		section.nosotros
			.container
				p.animated.stagger.delay-3s Somos una agencia de comunicación integral con más de 13 años de experiencia siempre enfocada en crear. Creamos grandes ideas que se convierten en experiencias únicas.
			.slider-nosotros.animated.animate-about
				.owl-carousel#sync1
					.item
						img(src="images/nosotros.png")
						.slide-progress
					.item
						img(src="images/nosotros2.png")
						.slide-progress
					.item
						img(src="images/nosotros3.png")
						.slide-progress
					.item
						img(src="images/nosotros4.png")
						.slide-progress
					.item
						img(src="images/nosotros5.png")
						.slide-progress
			.container
				.container-owl-nav
					.owl-carousel#sync2
						.item
							figure
								img(src="images/sync2.png")
							.item-content
								h2 We make strategy.
								p Apoyamos tu comunicación de manera integral. Entendemos que una solución tiene muchos ángulos y muchas variables. Nos encargamos de todas ellas.
						.item
							figure
								img(src="images/sync3.png")
							.item-content
								h2 We make connection.
								p Entendemos que un buen mensaje es aquel que lograr vincular de manera profunda. Para saber qué decir primero hay que saber escuchar.
						.item
							figure
								img(src="images/sync4.png")
							.item-content
								h2 We make innovation.
								p Buscamos constantemente la “otra” manera de ver, pensar e implementar las cosas. Si muchos no entienden lo que haces, vas por buen camino.
						.item
							figure
								img(src="images/sync5.png")
							.item-content
								h2 We make creativity.
								p Desarrollamos ideas que inspiran y que son memorables. Rompemos esquemas. Para marcar la diferencia siempre hay que ir más allá.
						.item
							figure
								img(src="images/sync6.png")
							.item-content
								h2 We make it everywhere
								p No conocemos fronteras ni límites. Conquistamos cualquier persona en cualquier lugar en cualquier momento.
		section.brand
			.container
				h2 Backyard 
					span Spot
				p 
					strong ¡Qué tanto es tantito! #[br]
					| Aquí mostramos algunos ejemplos de las grandiosas cosas que podemos hacer cuando nos confían una marca.
				span Nos gusta lo que hacemos y a eso nos dedicamos.
		section.video
			.container
				video(controls poster="images/poster-video.jpg")
					source(src="images/video.mp4" type="video/mp4")
					| Your browser does not support HTML5 video.
					
		include block/footer.pug
		input(type="hidden" value="nosotros.html" id="location")
		script(src="js/jquery-1.11.3.min.js")
		script(src='js/owl.carousel.min.js', type="text/javascript")
		script(src='js/main.js', type="text/javascript")
		
