footer{
	background: #F7F7F7;
	text-align: center;
	padding: 20px 0;
	.container{
		a{
			color: #484747;
			text-decoration: none;
			font-size: 23px;
			font-family: 'Lato';
			font-weight: 400;
		}
	}
}