footer{
	background: #F7F7F7;
	text-align: center;
	.container{
		padding: 20px 0;
		aside.social-footer{
			display: none;
		}
		aside.social-footer{
			background: white;
			margin-bottom: 15px;
			padding: 10px 20px;
			i{
				font-size: 25px;
				margin-right: 35px;
			}
		}
		a{
			color: #484747;
			text-decoration: none;
			font-size: 20px;
			font-family: 'Montserrat';
			font-weight: 400;
		}
	}
	&.aviso{
		position: relative;
		p{
			font-family: 'Montserrat';
			font-size: 15px;
			span{
				font-family: 'Montserrat';
				font-size: 19px;
			}
		}
		aside.social{
			position: absolute;
			right: 0;
			top: 39%;
			i{
				font-size: 20px;
				margin-right: 20px;
				cursor: pointer;
			}
		}
	}
}