header{
    margin-top: 80px;
    .container{
        align-items: center;
        justify-content: space-between;
    }
}

.mouse-container{
  position:relative;
  display:block;
  height:50px;
  margin-bottom: 10px;
  p{
  	font-size: 10px;
  	text-align: center;
  	font-family: 'Montserrat';
  	font-weight: 300;
  	margin-top: 3px;
  }
}
.mouse{
  position:relative;
  margin:0 auto;
  display:block;
  width:19px;
  height:32px;
  border: solid 2px #000;
  border-radius: 25px;
  -webkit-animation: scroll-mouse 1.5s; 
  animation: scroll-mouse 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  //-webkit-animation-timing-function:ease;
  //animation-timing-function:ease;
  
  span.scroll-down{
    display:block;
    width:5px;
    height:5px;
    background:#000;
    border-radius:50%;
    margin:15% auto auto auto;
    -webkit-animation: scroll-inner 1.5s; 
    animation: scroll-inner 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function:ease;
    animation-timing-function:ease
      
  }
}
