@media only screen and (max-width: 767px) {
	.shadow{
		box-shadow: none;
	}
	body{
		background-color: white;
	}
    nav.menu{
		display: block;
		height: 100%;
		background-color: #000;
		max-width: 100%;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 5;
		box-shadow: -5px 7px 12px -5px rgba(204,204,204,1);
		visibility: hidden;
		transition: all .3s ease;
		opacity: 0;
		// transition: all 400ms  ease-in-out;
		padding-top: 40px;
		padding-right: 15px;
		padding-left: 25px;

		a{
			font-family: 'Montserrat';
			font-weight: 600;
			display:block;
			text-align: left;
			margin-right: 0px; 
			padding: 3px 15px;
			font-size: 22px;
			text-transform: uppercase;
			color: #fff;
			animation-delay: 2s;
			&.close{
				display: block;
				display: inline-block;
    			border: none;
    			line-height: 4px;
    			margin-bottom: 80px;
			}
			&.active{
				animation: staggermenu .4s cubic-bezier(.215,.61,.355,1) forwards;
			}
			&:nth-child(1) {
		        -webkit-animation-delay: 0s;
		        animation-delay: 0s
		    }
		    &:nth-child(2) {
		        -webkit-animation-delay: .05s;
		        animation-delay: .05s
		    }
		    &:nth-child(3) {
		        -webkit-animation-delay: .1s;
		        animation-delay: .1s
		    }

		}
	}
	figure.logo-movile{
		display: block;
		width: 200px;
		float: right;
		margin-top: 3px;
		margin-bottom: 80px;
	}
	nav.menu a.active:before{
		display: none;
	}
	nav.menu a.active:after{
		display: none;
	}

	span.burger{
		display: block;
	}

	figure.logo{
		max-width: 200px;
	}
	nav.menu aside.social-mobile{
		display: flex;
		justify-content: center;
	}


	section.category .container h2{
		font-size: 22px;
	}
	section.category .container ul#category{
		flex-direction: column;
    	align-items: center;
	}
	section.category .container ul#category li{
		width: 100%;
	}
	section.grid .container{
		flex-direction: column;
		ul{
			width: 100%;
			transform: none!important;
			li{
				min-height: 195px;
			}
		}
	}
	section.category .container ul#category a{
		font-size: 17px;
	}
	section.grid .container ul li .caption-item{
		left: 0;
	}
	section.grid .container ul li .caption-item p{
		margin-top: 5px;
		font-size: 15px;
		display: none;
	}
	section.title{
		padding: 80px 15px 0;
	}
	section.title h2{
		font-size: 25px;
	}
	footer .container a{
		font-size: 16px;
	}
	section.nosotros{
		background-color: white;
	}
	section.nosotros .container p{
		font-size: 16px;
	}
	section.nosotros .owl-dots{
		text-align: center;
		margin-top: 15px;
		margin-right: 0;
		padding-right: 0;
	}
	section.nosotros .container-owl-nav{
		padding: 20px 0px;
		background-color: white;
	}
	section.nosotros .container-owl-nav .owl-carousel#sync2 .item{
		flex-direction: column;
	}
	section.nosotros .container-owl-nav .owl-carousel#sync2 .item .item-content{
		width: 100%;
		margin-bottom: 37px;
	}
	section.nosotros .container-owl-nav .owl-carousel#sync2 .owl-dots{
		margin-top: 0px;
	}
	section.brand .container p{
		font-size: 16px;
	}
	section.nosotros .slider-nosotros{
		background-color: white;
	}
	
	section.contacto .container{
		flex-direction: column;
	}
	section.contacto .container .item-col{
		width: 100%;
	}
	section.grid .container ul li.credencial{
		display: none;
	}
	.wave-circle{
		width: 50px;  
    	height: 50px;
	}
	section.brand .container span{
		font-size: 16px;
	}
	section.nosotros .container-owl-nav .owl-carousel#sync2 .item figure{
		width: 100%;
	}
	section.nosotros .container-owl-nav .owl-carousel#sync2 .item .item-content h2{
		font-size: 20px;
		text-align: center;
	}
	section.nosotros .container-owl-nav .owl-carousel#sync2 .item .item-content{
		padding: 40px 30px;
	}
	section.nosotros .container-owl-nav .owl-carousel#sync2 .item .item-content p{
		font-size: 16px;
		color: white;
		text-align: center;
	}
	.bg-dinamic{
		height: 100vw;
	}

	section.grid .container ul li .leyend{
		width: 32px;
	}
	section.select{
		display: flex;
	}
	section.category .container ul#category{
		display: none;
	}
	section.category .container{
		padding-bottom: 5px;
	}
	



}


@media only screen and (max-width: 480px) {


}


@media only screen and (max-width: 320px) {


}
